body {
    background: rgb(29, 32, 65);
}

body,
div {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: auto;
    background-color: transparent;
}


.title {
    color: aliceblue;
    margin-bottom: 30px;
}

.banner{
    background-image: url(./a8114e0464168373b144eea84addbfba.jpg);
    height: 300px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
